<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/message.css"></link>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <div id="m">
    <h1>sender: person <%= message.id %></h1>
    <h1>message: '<%= message.message %>'</h1>
    <h1>message id: <%= message.mid %></h1>
  </div>
</body>
</html>